.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.band {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: $black-grad;

  button {
    padding: 1rem 2rem;
    font-size: 2rem;
    margin: 1rem;
    background-color: $yellow;
    color: $white;
    cursor: pointer;
  }

  &__album {
    border: 1px solid;
    background-image: $black-grad;
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 7rem 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1;
    transform: translate(-50%, -20%);
    height: 85vh;
    overflow: hidden;
    overflow-y: scroll;

    &__close {
      cursor: pointer;
      background-color: white;
      width: 5rem;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 250ms ease;
      &:hover {
        border-radius: 5rem;
      }
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border: 2px solid $black;
      background-image: $black-grad;
      color: $white;
      position: relative;
      text-align: center;
      z-index: 1;
    }

    &__link {
      color: $white;
      text-decoration: none;
    }

    &__list {
      position: absolute;
      padding: 1.4rem;
      font-size: 1.5rem;
      text-align: center;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-image: $black-grad;
    }
  }
}

.btn {
  z-index: 0;

  &--hidden {
    z-index: -1;
  }

  &--none {
    display: block;
  }
}
.cover {
  border: 2px solid $white;
  width: 300px;
}

//Scrool bar
.band__album {
  scrollbar-width: auto;
  scrollbar-color: #434144 #252323;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: #252323;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #434144;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}
.absolute {
  position: absolute;
  top: 0;
  right: 0;

  border-radius: 50%;
  width: 2rem;
  cursor: pointer;
  z-index: 2;
}
.parent {
  position: relative;
}
.heart {
  width: 20px;
}
.favorite {
  border: 1px solid $white;
  padding: 1rem;
  max-width: max-content;
  font-size: 1.5rem;
}
