.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 1rem;
  margin-top: 15rem;

  &--dark {
    background-color: #121415;
    color: $white;
    margin-top: -2rem;
    padding: 50px 0;
  }
}
