.flex {
  border: 1px solid $black;
  padding: 0.1rem;
  display: flex;
  margin: 1rem;
  border-radius: 0.5rem;

  &__first {
    display: flex;
    justify-content: space-between;

    &__wrap {
      display: flex;
      align-items: center;
    }

    &__logo {
      width: 30px;
    }
  }
  &__second {
    flex-direction: row-reverse;
    align-items: center;
  }

  &__third {
    justify-content: center;
    align-items: baseline;
  }

  & p {
    font-size: 2rem;
  }
}

//novi red

.card {
  &__wrapper {
    border: 1px solid;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }

  border: 1px solid;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__main {
    flex-grow: 1;
  }

  &__fotter {
    &__btn {
      width: 100%;
      background-color: $yellow;
      border: none;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
