.form-field {
  height: 8rem;
  &__label {
    display: block;
    font-family: $font;
    font-size: 2rem;
  }

  &__input {
    padding: .5rem;
    border: 3px solid $black;
    transition: all 0.2s ease-out;
    font-size: large;
    width: 7rem;

    &:focus {
      outline: none;
      border: 3px solid $orange;
      transition: 250ms;
      border-radius: 1.3rem;
      padding: 1rem;
      width: 10rem;
      padding-left: 2rem;    
    }
  }
  
  &__validation {
    font-size: large;
    color: $red;
  }
}
