.pagination {
  margin-top: 1rem;
  display: flex;

  &__item {
    cursor: pointer;
    margin: 0.3rem;
    font-size: 2rem;
    border: 1px solid $black;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    color: $orange;

    &:hover {
      background-color: $black;
      color: $white;
      transition: 300ms;
    }
  }
}
