* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box {
  width: 10rem;
  height: 10rem;
  background-color: #258b4e;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 250ms ease;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.boxing {
  font-size: 5rem;
  transform: scaleY(0.5);  
}

