.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 1rem;
  margin-top: 30vh;

  &--dark {
    background-image: $black-grad;
    color: $white;
    margin-top: 3rem;
  }

  &--sm{
    max-width: 32rem;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 5rem;
  }
}
