//Boje
$blue: rgb(48, 111, 170);
$red: rgb(228, 21, 21);
$yellow: rgb(255, 207, 0);
$orange: orange;
$white: white;
$black: black;
$green: green;

//Font
$font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$net: "Delicious Handrawn", cursive;

//breakpoints
$media-sm: 27.5em; //680 px
$media-md: 48em; //768 px
$media-lg: 62em; //992 px
$media-xl: 75em; //1200 px
