//Boje
$blue: rgb(48, 111, 170);
$red: rgb(209, 52, 52);
$yellow: rgb(255, 207, 0);
$orange: rgb(255, 157, 0);
$white: white;
$black: rgb(53, 51, 51);
$green: green;
$grey: rgb(167, 166, 166);
$purple: #5c3ee8;

//Font
$font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$net: "Delicious Handrawn", cursive;
$black-grad: linear-gradient(
  to bottom,
  #010409,
  #14191a,
  #202727,
  #303733,
  #44463f
);

//breakpoints
$media-sm: 27.5em; //680 px
$media-md: 48em; //768 px
$media-lg: 62em; //992 px
$media-xl: 75em; //1200 px
